{% extends "student_register/base.html" %}

{% block content %}
<table class="table.table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>MobNo</td>
            <td>std</td>
            <td>
                <a href="{% url 'Student_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for Student in student list %}
        <tr>
            <td>{{Student.fullname}}</td>
            <td>{{Student.MobNo}}</td>
            <td>{{Student.std}}</td>
            <td>
                <a href="{% url 'Student_update' Student.id %}" class="btn.text-seccondary.px-0">
                    <i class="far fa-edit.fa-lg"></i>
                </a>
                <form action="{% url 'student_delete' student.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}